@font-face {
    font-family: "Hind";
    src: url(../../../divers/fonts/Hind-Medium.ttf);
}

@font-face {
    font-family: "Carolina Mountains";
    src: url(../../../divers/fonts/Carolina-Mountains-Personal-Use.ttf);
}

nav.navbar.navbar-expand-lg{
    background-color: #002572;
    display: inline-block;
    float: none;
    width: 100%;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #FFFF55;
    text-align: center;
}

.navbar-expand-lg .navbar-nav{
    margin: auto;
}

.navbar-nav .nav-link{
    color: #FFFF55;
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;

}

.navbar-nav .active>.nav-link{
    color: #FFFF55;
    font-size: 18px;

}

a.dropdown-item{
    text-align: center;
    color: #FFFF55;
}

.navbar-brand {
    font-family: "Carolina Mountains", sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #FFFF55;
    text-align: center;
    margin-bottom: 60px;
}


div.dropdown-menu.show{
    background-color: #002572;
}

img.img-responsive.logo{
    position: absolute;
    display: block;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    height: 230px;
}

a.nav-link.connexion{
    position: absolute;
    display: block;
    top: 5%;
    right: 1%;
    z-index: 11;
    opacity: 0.70;
    padding: 0px 20px 0px 20px;
    background-color: #001050;
    color: #FFFF55;
    border: 1px solid darkgray;
}

button.navbar-toggler{
    background-color:  #FFFF55;
}

.form_user{
    text-align: center;
    color: white;

    margin-left: auto;
    margin-right: auto;
    padding: 10% 20% 10% 20%;
}

.row{
    margin: auto;
    margin-top: 130px;
    margin-bottom: 100px;
    opacity: 0.8;
    background-color: black;
    border: 3px solid black;
    border-radius: 2%;
}

.control-group{
    padding-top: 30%;
}

.inputData{
    background-color: #A0A0A0;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    opacity: 0.8;
    border: 1px solid white;
    width: 100%
}

.validConnexion{
    margin-top: 70%;
    color: #FFFF55;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

.validRegister{
    margin-top: 27%;
    color: #FFFF55;
    background-color: black;
    opacity: 0.8;
    width: 100%;

}

.backLogo{
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

ul li:hover .animatedItem{
    left:182px;opacity:1;width:276px;
    transition:1s left,1s width,1s opacity;
}

ul li .animatedItem{
    width: 300px;
    height: 200px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: white;
    opacity: 0;
    margin-top: 20px;
    -webkit-transition: 1s left, 1s width, 1s opacity;
    -moz-transition: 1s left, 1s width, 1s opacity;
    -o-transition: 1s left, 1s width, 1s opacity;
    transition: 1s left, 1s width, 1s opacity;
}

.menu{
    border: 3px solid;
    border-radius: 7%;
    margin: 10% 60% 10% 30%;
    background-color: #A0A0A0;
    color: white;
    position: relative;
    z-index: 100;
}

.menuItem{
    font-weight: bold;
    color: white;
    font-size: 1.8em;
    padding-left: 22px;
    display: block;
    width: 160px;
    height: 40px;
}

.listItem{
    height: 40px;
}

#legendeMap
{
    background-color: #ffff99;
    border: solid 5px #CD9E47 ;
}
.legendeClan
{
    color: black ;
    width: 500px;
    height: 50px;
    float: left;
}
.legendeClan img
{
    width: 50px;
    height: 50px;
    float:  left;
}
.legendeClan h5
{
    padding-top: 10px;
}

.spanError {
    position : absolute;
    left : 39%;
    color : red;
}