nav.navbar.navbar-expand-lg{
    background-color: #002572;
    display: inline-block;
    float: none;
    width: 100%;
    font-family: "Hind", sans-serif;

}

.navbar-expand-lg .navbar-nav{
    margin: auto;
}
.navbar-nav .nav-link{
    color: #FFFF55;
    font-size: 18px;
    font-weight: 100;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;

}

.navbar-nav .active>.nav-link{
    color: #FFFF55;
    font-size: 18px;

}

a.dropdown-item{
    text-align: center;
    color: #FFFF55;
}

a.navbar-brand {
    font-family: "Carolina Mountains Personal Use", sans-serif;
    font-size: 36px;
    color: #FFFF55;
    text-align: center;
    margin-bottom: 80px;
}


div.dropdown-menu.show{
    background-color: #002572;
}

img.img-responsive.logo{
    position: absolute;
    display: block;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    height: 230px;
}

button.connexionButtons.my-2.my-sm-0{
    position: absolute;
    display: block;
    top: 5%;
    right: 1%;
    z-index: 11;
    opacity: 0.70;
    padding: 0 20px 0 20px;
    background-color: #001050;
    color: #FFFF55;
    border: 1px solid darkgray;
}
