@font-face {
    font-family: "Hind";
    src: url(../../../divers/fonts/Hind-Medium.ttf);
}

@font-face {
    font-family: "Carolina Mountains";
    src: url(../../../divers/fonts/Carolina-Mountains-Personal-Use.ttf);
}

.lead{
    font-family: "Hind", sans-serif;
    font-size: 16px;
}

/*navbar*/

.welcome{
    position: absolute;
    left: 2%;
    color: white;
}
nav.navbar.navbar-expand-lg{
    background-color: #002572;
    display: inline-block;
    float: none;
    width: 100%;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #FFFF55;
    text-align: center;
}

.navbar-expand-lg .navbar-nav{
    margin: auto;
}

.navbar-nav .nav-link{
    color: #FFFF55;
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;

}

a.dropdown-item{
    text-align: center;
    color: #FFFF55;
}

.navbar-fixed-top {
    font-family: "Carolina Mountains", sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #FFFF55;
    text-align: center;
}


div.dropdown-menu.show{
    background-color: #002572;
}

img.img-responsive.logo{
    position: absolute;
    display: block;
    top: 45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    height: 130px;
}

a.nav-link.connexion{
    position: absolute;
    display: block;
    top: 5%;
    right: 1%;
    z-index: 11;
    opacity: 0.70;
    padding: 0px 20px 0px 20px;
    background-color: #001050;
    color: #FFFF55;
    border: 1px solid darkgray;
    font-size: 18px;
}

button.navbar-toggler{
    background-color:  #FFFF55;
}

/*connexion*/
.form_user{
    text-align: center;
    color: white;

    margin-left: auto;
    margin-right: auto;
    padding: 10% 20% 10% 20%;
}

.form.row{
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    opacity: 0.8;
    background-color: black;
    border: 3px solid black;
    border-radius: 2%;
}

.control-group{
    padding-top: 30%;
}

.inputData{
    background-color: #A0A0A0;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    opacity: 0.8;
    border: 1px solid white;
    width: 100%
}

.validConnexion{
    margin-top: 70%;
    color: #FFFF55;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

.validRegister{
    margin-top: 27%;
    color: #FFFF55;
    background-color: black;
    opacity: 0.8;
    width: 100%;
}

.backLogo{
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

/*choose clan*/
ul li:hover .animatedItem{
    opacity:1;
    width:400px;
    padding: 10px;
    transition:0.5s left,0.5s width,0.5s opacity;
}

ul li .animatedItem{
    position: absolute;
    top: 12%;
    left: 100%;
    width:0;
    height: 240px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: white;
    opacity:0;
    transition:0.5s left,0.5s width,0.5s opacity;
}


@media only screen and (max-width: 990px) {

    img.img-responsive.logo{
        display:none;
    }

    ul li:hover .animatedItem{
        opacity:1;
        height:240px;
        width: 280px;
        transition:0.5s left,0.5s height,0.5s opacity;
    }

    ul li .animatedItem{
        position: absolute;
        z-index: 100;
        top: 98%;
        left: 0;
        width:280px;
        height: 0;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        color: white;
        opacity:0;
        transition:0.5s left,0.5s height,0.5s opacity;
    }
}


.menu{
    border-radius: 7%;
    background-color: #A0A0A0;
    color: white;
    position: absolute;
    left: 30%;

}

.menuItem{
    font-weight: bold;
    color: white;
    font-size: 1.8em;
}

.listItem{
    height: 40px;
    list-style-type: none;
    padding-right: 20px;

}

.control-labelCheckBox{
    border: 4px solid white;
    border-radius: 20px;
    padding: 5px 30px;
    background-color: black;
    font-weight: bold;
    color: white;
    margin: 35px;
}

#validationButton{
    position: absolute;
    z-index: 0;
    top: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}


/*Map*/
#legendeMap
{
    position: absolute;
    z-index: 10;
    bottom: 0;
    background-color: #D5D5D5;
    opacity: 0.9;
    border: solid 1px #FFFF55;
    margin: 0 0 0 0;
}

.legendeClan
{
    color: black ;
    height: 30px;
    float: left;
    margin: 10px 0 10px 0;
}

.legendPicture
{
    height: 40px;
    float:  left;
}

.legend{
    padding: 5px 0 0 15%;
}


.spanError {
    position : absolute;
    left : 39%;
    color : red;
}

/*Clan*/
.controlMap{
    margin: 110px auto 20px auto;
    padding: 5% 0 5% 0;
    opacity: 0.8;
    background-color: #36003A;
    border-radius: 20px;
    height: 50%;
}

.clanStats{
    text-align: center;
    color: white;
    margin: auto;
}

.elemClan{
    margin: 100px auto 20px auto;
    opacity: 0.8;
    background-color: #36003A;
    border-radius: 20px;
}

.pictureClan {
    margin: 100px auto auto auto;
    height: 250px;
}

.mapControl{
    font-size: 400%;
}

/*Home*/

.home{
    background-image: url("../../../divers/images/city.jpg");
    background-clip: padding-box;
    background-position: 20%;
    background-size: 120vw;
    width: 100%;
    height: 800px;
    filter: blur(5px);


}

@media only screen and (max-width: 990px) {
    .home{
        background-position: 20%;
        background-size: 250vw;
    }
}

.home_text{
    position: absolute;
    top: 700px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Carolina Mountains", sans-serif;
    font-weight: 200;
    font-size: 48px;
    color: #FFFF55;
    text-align: center;
}

.home_logo{
    position: absolute;
    z-index: 0;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.clans{
    width: 100%;
    height: 900px;
}

.moreInfos{
     margin: auto;
     width: 100%;
     height: 1100px;
     padding:15%;
     background-color: #002572;
}

.infos{
    margin: auto;
    width: 100%;
    height: 1000px;
    padding: 8%;
}

img.home_logo_details{
    margin:auto;
    min-width: 250px;
    max-width: 300px;
    padding-bottom: 20px;
}

img.phone{
    max-width: 400px;
    margin:auto;
}

.details{
    color: black;
    margin: auto;
    text-align: justify;
    padding-bottom: 30px;
}

.moreDetails{
    color: white;
    margin: auto;
    text-align: justify;
}

.test{
    width: 100%;
    height: 800px;
}

.leftClan{
    margin-top: 30px;
    max-width: 70%;
    height: 200px;
    background-color: #A0A0A0;
    float: left;
}

.rightClan{
    margin-top: 30px;
    max-width: 70%;
    height: 200px;
    background-color: #A0A0A0;
    float: right;
}

@media only screen and (max-width: 990px) {
    .leftClan{
        float: none;
        margin: 20px auto 0 auto;
        height: 140px;

    }

    .rightClan{

        height: 140px;
        float: none;
        margin: 20px auto 0 auto;
    }
}

