/*shop*/
.budgetItem{
    background-color:black;
    border-radius: 30px;
    opacity: 0.8;
    width: 150px;
    margin: 100px auto auto auto;
    color: white;
    text-align: center;
    padding: 5px;
}

.budgetItem :nth-child(1){
    width: 25px;
}

.articleItem{
    background-color: #D5D5D5;
    border-radius: 10px;
    border: 3px solid black;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    display: inline-flex;
    margin-left: 5.5%;
}

.imgItem{
    background-color: #505050;
    border: 3px solid grey;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 8px;
}

.prixItem{
    color: black;
    font-weight: 300;
}

.prixItem p{
    margin:0;
    font-size: 12px;
}

.shopContent{
    margin:auto;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.inventaireContent{
    position: absolute;
    width: 10%;
    left: 4%;
    top: 25%;
    padding: 20px;
    background-color: #222222;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.inventaireContent h4{
    font-size: 100%;

}

.inventaire {
    width: 70px;
    height: 70px;
}

.interactObject{
    display:flex;
}

.acheterItem{
    display: flex;
    margin: auto

}

.acheterItem input{
    margin: 0 20px;
}

.acheterItem a{
    background-color: #555555;
    color: white;
    border-radius: 10px;
    padding: 0 20px;
    height: 26px;
}

.acheterItem input{
    height: 26px;
    width: 60px;
    border-radius: 10px;
    background-color: #555555;
    color: white;
    text-align: center;

}

.moreDetails{
    width: 70%;
}

@media only screen and (max-width: 1400px) {



    .prixItem{
        margin: 10px auto;
    }
}

@media only screen and (max-width: 990px) {
    .articleItem {
        margin-left: 0;
    }

    .budgetItem {
        margin-top: 170px;
    }

    .inventaireContent{
        width: 70%;
        left: 0;
        right: 0;
        margin: auto;
        top: 12%;
        padding: 20px;
        background-color: #222222;
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        color: white;
    }

    .inventaire {
        width: 70px;
        height: 70px;
    }

    .shopContent{
        margin-top: 170px;
    }
}


