.info_compte{
    margin:10px;
}

.bloc_compte{
    margin: 100px auto 100px auto;
    width: 30%;
    border-radius: 20px;
    background-color: #A0A0A0;
    color: white;
    padding: 20px;
}

.titre{
    text-align: center;
    margin-bottom: 40px;
}

.champInfo{
    margin: auto;
    margin-top: 15px;
}

.boutonModification{
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 5px 30px 5px 30px;
    font-size: 12px;
}

.boutonModification:hover{
    background-color: #FFFF55;
    text-decoration: none;
}

.inputData{
    background-color: #505050;
    margin: auto;
    opacity: 0.8;
    border: 1px solid white;
    width: 300px;
    color: white;
    border-radius: 10px;
}

input::placeholder {
    color: white;
    opacity: 0.7;
}

.form_user{
    display: flex;
}

@media only screen and (max-width: 990px) {
    .bloc_compte{margin-top:150px;}
}

@media only screen and (max-width: 1400px) {
    .form_user{
        display: block;
    }
}