div.node{
    background-color: #666666;
    color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px 10px 0 10px;
    width: 300px;
    text-align: center;
}

div.node.unlock:hover{
    cursor: pointer;
    background-color: #888888;
}

div.node.title{
    border: none;
    cursor: auto;
    background-color: white;
    color: black;
}

div.node.lock{
    border: none;
    cursor: auto;
    opacity: 0.3;
    color: black;
}

div.node.activ{
    background-color: #00CC00;
}