@font-face {
    font-family: "Hind";
    src: url(../assets/fonts/Hind-Medium.ttf);
}

@font-face {
    font-family: "Carolina Mountains";
    src: url(../assets/fonts/Carolina-Mountains-Personal-Use.ttf);
}

p{
    font-family: "Hind", sans-serif;
    font-size: 16px;
}

span{
    font-family: "Hind", sans-serif;
    font-size: 16px;
}

/*navbar*/

.fixNavigation{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}

.welcome{
    position: absolute;
    right: 100px;
    top: 22px;
    color: white;
    font-size: 16px;
}

.center{
    right: 0;
    left: 0;
    margin: auto;
}

nav.navbar.navbar-expand-lg{
    background-color: #002572;
    display: inline-block;
    float: none;
    width: 100%;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #FFFF55;
    text-align: center;
}

.navbar-expand-lg .navbar-nav{
    margin: auto;
}

.navbar-nav .nav-link{
    color: #FFFF55;
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 2rem;
}

a.dropdown-item{
    text-align: center;
    color: #FFFF55;
}

.navtitle {
    font-family: "Carolina Mountains", sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #FFFF55;
    text-align: center;
    display:none;
}

div.dropdown-menu.show{
    background-color: #002572;
}

.logo{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    height: 130px;
    display:none;
}

.onDisplay{
    display: block;
}

a.nav-link.connexion{
    position: absolute;
    display: block;
    top: 5%;
    right: 1%;
    z-index: 11;
    padding: 10px 20px 0 20px;
    color: white;
    font-size: 18px;
}

a.nav-link.deconnexion{
    position: absolute;
    display: block;
    top: 5%;
    right: 1%;
    z-index: 11;
    padding: 10px 20px 0 20px;
    color: white;
    font-size: 18px;
}

a.nav-link.phoneConnexion{
    display: none;
    color: white;
}

a.nav-link.phoneDeconnexion{
    display: none;
    color: white;
}

.icon-bar{
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    background-color: #FFFF55;
    border-radius: 1px;
}
/*footer*/
.footerContent{
    height: 25vh;
    background-color: #D2D2D2;
    color: black;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.linksContent{
    border-right: 1px solid white;
}

.footerContent p{
    margin: 8%;
    text-align: center;
}

.networks #dlGame{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    color: black;
    width: 200px;
    margin-bottom: 80px;
}

.networks #dlGame:hover{
    background-color: #F2F2F2;
    text-decoration: none;
}

.networks{
    text-align: center;
    padding: 80px;
}

.networksButton{
    margin-top: 20px;
}

.fa-facebook{
    margin: 10px;
    color: black;
}

.fa-twitter{
    margin: 10px;
    color: black;
}

.fa-youtube{
    margin: 10px;
    color: black;
}

@media only screen and (max-width: 1300px) {

    p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 990px) {
    .logo {
        display: none;
    }

    a.nav-link.phoneConnexion {
        display: block
    }

    a.nav-link.phoneDeconnexion {
        display: block
    }

    a.nav-link.connexion {
        display: none;
    }

    a.nav-link.deconnexion {
        display: none;
    }

    .welcome {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
    }

    .footerContent {
        margin-top: 100px;
        height: 500px;
    }

    .linksContent {
        border-right: 0;
        border-bottom: 1px solid white;
    }

    .networks p {
        margin-top: 20px;
    }

    .androidButtonFooter {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .networks {
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    .footerContent p {
        margin: 7%;
        text-align: center;
    }

    nav.navbar.navbar-expand-lg {
        min-height: 160px;
    }

    .icon-bar{
        width: 50px;
        height: 6px;
    }

    .navbar-toggler:focus, .navbar-toggler{
        margin-top: 20px;
    }

    .navbar-nav .nav-link{
        font-size: 32px;
        margin: 10px 0;
    }

    a.dropdown-item{
        font-size: 32px;
        margin: 5px 0;
    }

    p{
        font-size: 18px;
    }
}






